/* web fonts
------------------------- */

/* Work Sans Regular */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/WorkSans.woff2') format('woff2');
}

/* Work Sans Italic */
@font-face {
  font-family: 'Work Sans';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/WorkSans-Italic.woff') format('woff');
}

/* Work Sans Semi-bold */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/WorkSans.woff2') format('woff2');
}
