/* web fonts
------------------------- */

/* Work Sans Regular */
@font-face {
  font-family: 'Work Sans';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/WorkSans-Regular.woff2') format('woff2');
}

/* Work Sans Italic */
@font-face {
  font-family: 'Work Sans';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/WorkSans-Italic.woff2') format('woff2');
}

/* Work Sans Semi-bold */
@font-face {
  font-family: 'Work Sans';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/WorkSans-SemiBold.woff2') format('woff2');
}
