/* image-grid
------------------------- */

.image-grid {
  max-width: 1200px;
}

.image-grid__item,
.image-grid__col-sizer {
  width: 32%;
}

.image-grid__gutter-sizer { width: 2%; }

/* hide by default */
.image-grid.are-images-unloaded .image-grid__item {
  opacity: 0;
}

.image-grid__item {
  margin-bottom: 20px;
  float: left;
}

.image-grid__image {
  display: block;
  max-width: 100%;
}
