---
title: Full page demo - page 5
layout: full-page-demo
next: page6.html
---

<article class="article">
  <h2>Flickity v2 released: groupCells, adaptiveHeight, parallax</h2>

  <p><a href="https://flickity.metafizzy.co">Flickity is the best carousel library there is</a>. Since its initial release last year, Flickity has grown to be hugely popular (thank you for making that happen!), being put to use in high-profile sites like <a href="https://www.engadget.com/2016/01/05/canon-new-powershot-vixia-cameras/">Engadget</a>, <a href="https://www.artsy.net/show/henrique-faria-fine-art-full-emptiness-slash-el-vacio-lleno?from-show-guide=true">Artsy</a>, and <a href="https://yeezysupply.com/products/season-2-military-crepe-boot-women">Kanye West's yeezysupply.com</a>. With version 2, Flickity cements its status as the go-to carousel.</p>
<p>Version 2 is a huge upgrade. Let's take a look at some of its new features.</p>
<p>Groups cells together to act as individual slides with <a href="https://flickity.metafizzy.co/options.html#groupcells"><code>groupCells</code></a>.</p>

  <p data-height="366" data-theme-id="dark" data-slug-hash="XKZXyv" data-default-tab="result" data-user="desandro" data-embed-version="2" class="codepen">See the Pen <a href="https://codepen.io/desandro/pen/XKZXyv/">Flickity - groupCells</a> by David DeSandro (<a href="https://codepen.io/desandro">@desandro</a>) on <a href="https://codepen.io">CodePen</a>.</p>

  <p><a href="https://flickity.metafizzy.co/options.html#adaptiveheight"><code>adaptiveHeight</code></a> changes the height of carousel to fit height of selected slide.</p>

  <p data-height="500" data-theme-id="dark" data-slug-hash="PzJzPv" data-default-tab="result" data-user="desandro" data-embed-version="2" class="codepen">See the Pen <a href="https://codepen.io/desandro/pen/PzJzPv/">Flickity - adaptiveHeight with transition</a> by David DeSandro (<a href="https://codepen.io/desandro">@desandro</a>) on <a href="https://codepen.io">CodePen</a>.</p>

  <p>Create parallax effects with the <a href="https://flickity.metafizzy.co/events.html#scroll"><code>scroll</code> event</a>.</p>

  <p data-height="370" data-theme-id="dark" data-slug-hash="jAGWRQ" data-default-tab="result" data-user="desandro" data-embed-version="2" class="codepen">See the Pen <a href="https://codepen.io/desandro/pen/jAGWRQ/">Flickity - keyhole parallax</a> by David DeSandro (<a href="https://codepen.io/desandro">@desandro</a>) on <a href="https://codepen.io">CodePen</a>.</p>

  <script async src="//assets.codepen.io/assets/embed/ei.js"></script>

</article>

<article class="article">
  <h2>New tech gets chatter</h2>

  <p>My text editor of choice, <a href="https://macromates.com/">TextMate</a>, is old. Version 1 was released in 2004. Version 2 was announced in 2009 and has been in alpha &amp; beta release since 2012. TextMate is old enough that a whole new generation of text editors have emerged and eclipsed it, most notably <a href="https://www.sublimetext.com/">Sublime Text</a> and <a href="https://atom.io/">Atom</a>. They have built upon TextMate's successes and learned from its pain points. But I continue to use TextMate, and will continue to TextMate. Because TextMate works for me.</p>
  <p>You don't hear about TextMate because TextMate is old. What would I tweet? <em>Still using TextMate. Still good.</em> TextMate's problems are well known. Its hacky solutions are documented. Most everything's been covered.</p>
  <p>Meanwhile, Atom is entirely new. Its problems are new problems. When you find a solution, you might be the first one to discover it. That's pretty special. That's worth tweeting.</p>
  <p>Seeing all the talk around Atom chips away at the confidence I have in TextMate. I feel like a stubborn luddite, clinging on to my 2005 flip-phone because I can see the numbers better. But that feeling, of missing-out because others are talking about it, is just a perceived social pressure, a herd behavior.</p>
  <p>As a tech worker, I would like to think I am a highly rational being of pure logic. But I am just as susceptible to emotions as the rest of the muggles. So I recognize and tune-out hubbub and go with what I know. Because it continues to work, even though continuing to work isn't worthy of mention.</p>
  <p>I use <a href="https://www.theverge.com/2012/7/20/3172222/google-buys-sparrow-mail">Sparrow</a> for email. I write CSS in vanilla CSS. I write JavaScript in vanilla JavaScript (ES5 at that, kids). I haven't written a line of React.</p>
  <p>If you use React and you like it: great. But if you don't use React (or whatever hot new tech), and you feel like you should: don't worry about it. You are perfectly okay to stick with what works for you. The more you use something, the clearer its pain points become. Try new technologies when you're ready to address those pain points. Don't feel obligated to change your workflow because of chatter. New tech gets chatter, but that doesn't make it any better.</p>
  <p>In this very year of 2016, George R. R. Martin is writing the most popular work of fiction of this century <a href="https://www.slate.com/blogs/future_tense/2014/05/14/george_r_r_martin_writes_on_dos_based_wordstar_4_0_software_from_the_1980s.html">on a 1980's DOS machine</a> running WordStar 4.0. <a href="http://grrm.livejournal.com/">He blogs on LiveJournal</a>.</p>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/X5REM-3nWHg?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

</article>

