---
title: Full page demo - page 3
layout: full-page-demo
next: page4.html
---

<article class="article">
  <h2>3a - Logo Pizza delivered</h2>

  <p><a href="http://logo.pizza"><img src="https://i.imgur.com/u40AMfs.png" alt="Logo Pizza"></a></p>
  <p>After shipping <a href="/blog/flickity-v2-released">Flickity v2</a> thus wrapping 2016&#39;s huge development project, I didn&#39;t have it in me to write another line of code. I discussed my state of mind and motivation in this 3 min podcast.</p>
  <p><a class="embedly-card" href="https://bumpers.fm/e/avbd99o4m4ug00o93t30">New thing, shortsightedness on Bumpers</a></p>
  <script async src="//cdn.embedly.com/widgets/platform.js"></script>

  <p>Looking to change things up, I started making logos. </p>
  <p>Man, I love logos. A little piece of imagery that represents the ideal you want your project to be — that&#39;s design magic right there. I&#39;ve been able to work on some great logo projects, but I&#39;ve been itching to do more. Rather than wait for projects to come my way, I gave myself a project of my own: design 50 logos. <strong>50 logos in 30 days.</strong></p>
  <p>Fifty logos is a lot. At least one or two a day for an entire month. I tried pushing myself: exploring different styles, subjects, and techniques. It was like design boot camp: working all those muscles you never use.</p>
  

</article>

<article class="article">
  <h2 class="article__title">3b - Some CodePens</h2>

  <p data-height="375" data-theme-id="dark" data-slug-hash="XbqZzm" data-default-tab="result" data-user="desandro" data-embed-version="2" data-pen-title="2D ribbon physics study" class="codepen">See the Pen <a href="https://codepen.io/desandro/pen/XbqZzm/">2D ribbon physics study</a> by David DeSandro (<a href="https://codepen.io/desandro">@desandro</a>) on <a href="https://codepen.io">CodePen</a>.</p>

  <p data-height="659" data-theme-id="dark" data-slug-hash="zBPkdr" data-default-tab="result" data-user="desandro" data-embed-version="2" data-pen-title="Yoshi's Island parallax Flickity" class="codepen">See the Pen <a href="https://codepen.io/desandro/pen/zBPkdr/">Yoshi's Island parallax Flickity</a> by David DeSandro (<a href="https://codepen.io/desandro">@desandro</a>) on <a href="https://codepen.io">CodePen</a>.</p>

  <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>

</article>

<article class="article">
  <h2 class="article__title">3c - 365daysofmusic.com</h2>

  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Great big full-screen Flickity on <a href="https://t.co/8h3jJp3e0z">https://t.co/8h3jJp3e0z</a> by <a href="https://twitter.com/smdly">@smdly</a> <a href="https://t.co/pnJZ3stLL7">pic.twitter.com/pnJZ3stLL7</a></p>&mdash; Metafizzy (@metafizzyco) <a href="https://twitter.com/metafizzyco/status/832318064754556928">February 16, 2017</a></blockquote>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

</article>

<article class="article">
  <h2 class="article__title">3d - Holograms</h2>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/Ft97bSfS7x8?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

</article>
