---
title: Full page demo - page 2
layout: full-page-demo
next: page3.html
---

<article class="article">
  <h2 class="article__title">2a - RGB Schemes logo</h2>

  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Designed this birdie logo for RGB Schemes, VR gaming start-up. Can be rendered as 3D object to melt brains in VR <a href="https://t.co/TxjAffTzwZ">https://t.co/TxjAffTzwZ</a> <a href="https://t.co/ud2bBPeG5e">pic.twitter.com/ud2bBPeG5e</a></p>&mdash; Dave DeSandro (@desandro) <a href="https://twitter.com/desandro/status/804705433739022338">December 2, 2016</a></blockquote>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

</article>

<article class="article">
  <h2>2b - Masonry gets horizontalOrder</h2>

  <p>I&#39;ve added Masonry&#39;s first new layout feature in years. <a href="https://masonry.desandro.com/options.html#horizontalorder"><code>horizontalOrder</code> for Masonry</a> and <a href="https://isotope.metafizzy.co/layout-modes/masonry.html#horizontalorder">Isotope</a> will position items in a Masonry staggered layout, but maintain left-to-right order. Previously, Masonry would discard horizontal order and position items in the closest position to the top. While the first row would have horizontal order: 1, 2, 3; subsequent rows would break the order: 5, 4, 6 ... 9, 7, 8.</p>
  <p><img src="https://i.imgur.com/WQVtdGp.png" alt="Masonry and left-to-right order"></p>
  <p><a href="https://codepen.io/desandro/pen/dWVqmx">Try out the demo on CodePen</a>.</p>
  <p><p data-height="360" data-theme-id="20058" data-slug-hash="dWVqmx" data-default-tab="result" data-user="desandro" data-embed-version="2" data-pen-title="Masonry & Isotope horizontalOrder" class="codepen">See the Pen <a href="https://codepen.io/desandro/pen/dWVqmx/">Masonry &amp; Isotope horizontalOrder</a> by David DeSandro (<a href="https://codepen.io/desandro">@desandro</a>) on <a href="https://codepen.io">CodePen</a>.</p></p>
  <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>

  <p>This feature has been <a href="https://github.com/desandro/masonry/issues/873">hotly requested over a long time</a>. For a while, I felt a horizontalOrder feature went against the purpose of Masonry. Masonry is supposed to mess up the horizontal order — that&#39;s what makes it Masonry. But recently, I&#39;ve started relenting over these philosophical stances. If hundreds of people are asking for the same thing, maybe I shouldn&#39;t be so stubborn.</p>

</article>

<article class="article">
  <h2>2c - Every vector 2016</h2>

  <p><a href="https://i.imgur.com/mXaAcNO.png"><img src="https://i.imgur.com/mXaAcNO.png" alt="Metafizzy every vector 2016"></a></p>
  <p><a href="http://www.draplin.com/1998/01/ddc100_pretty_much_everything_up_to_oct_11_2013_poster.html">Draplin-esque</a> collage. Every vector made in 2016. Accepted, rejected, upcoming, or unused.</p>

</article>

