<div class="scroller" data-js="scroll-2">
  {{> scroller-content}}
  {{> scroller-status}}
  <p>
    <button class="button view-more-button" style="display: none;">View more</button>
  </p>
</div>

{{> edit-demo default="jwwdEq" vanillaJS="owwmXM" }}
