<div class="scroller-status">
  {{> loader-ellips}}
  <p class="scroller-status__message infinite-scroll-last">End of content</p>
  <p class="scroller-status__message infinite-scroll-error">No more pages to load</p>
</div>
