<div class="scroller" data-js="button-start">
  {{> scroller-content}}
  {{> scroller-status}}
  <p>
    <button class="button view-more-button">View more</button>
  </p>
</div>

{{> edit-demo default="LYRdrRj" vanillaJS="BaLrVLv" }}
