---
title: API
---

{{! ----------------------------------------------------------------- }}

<h2>Methods</h2>

{{! ----------------------------------------------------------------- }}

<h3>loadNextPage</h3>

{{! ----------------------------------------------------------------- }}

<h3>appendItems</h3>

{{! ----------------------------------------------------------------- }}

<h2>Properties</h2>

{{! ----------------------------------------------------------------- }}

<h3>pageIndex</h3>

{{! ----------------------------------------------------------------- }}

<h3>loadCount</h3>
