---
title: Options
---

{{! ----------------------------------------------------------------- }}

<h2>Loading</h2>

{{! ----------------------------------------------------------------- }}

<h3>path</h3>

{{! ----------------------------------------------------------------- }}

<h3>append</h3>

{{! ----------------------------------------------------------------- }}

<h3>checkLastPage</h3>

{{! ----------------------------------------------------------------- }}

<h3>prefill</h3>

{{! ----------------------------------------------------------------- }}

<h3>responseType</h3>

{{! ----------------------------------------------------------------- }}

<h2>Scrolling</h2>

{{! ----------------------------------------------------------------- }}

<h3>loadOnScroll</h3>

{{! ----------------------------------------------------------------- }}

<h3>elementScroll</h3>

{{! ----------------------------------------------------------------- }}

<h3>scrollThreshold</h3>

{{! ----------------------------------------------------------------- }}

<h2>History options</h2>

{{! ----------------------------------------------------------------- }}

<h3>history</h3>

{{! ----------------------------------------------------------------- }}

<h3>historyTitle</h3>

{{! ----------------------------------------------------------------- }}

<h2>UI</h2>

{{! ----------------------------------------------------------------- }}

<h3>status</h3>

{{! ----------------------------------------------------------------- }}

<h3>hideNav</h3>

{{! ----------------------------------------------------------------- }}

<h3>button</h3>

{{! ----------------------------------------------------------------- }}

<h3>log</h3>
