---
title: Options
---

{{! ----------------------------------------------------------------- }}

<h2>Loading</h2>

{{! ----------------------------------------------------------------- }}

<h3>path</h3>

<p>Determines the URL for the next page. <strong>Required</strong>.</p>

<p>Set to a selector string of the to the next page to use its <code>href</code> value.</p>

``` html
<a class="pagination__next" href="/page/2">Next</a>
```

``` js
path: '.pagination__next',
// parse href of element
// => /page/2, /page/3, page/4 ...
```

<p>Set to a string with <code>\{{#}}</code> for the incremental page number.</p>

``` js
path: 'news/blog-p\{{#}}.html',
// replace \{{#}} with page number
// => news/blog-p2.html, news/blog-p3.html, news/blog-p4 ...
```

<p>Set to a function that returns the URL for page URLs that do not use incremental numbers. For example, A List Apart articles increment by 10. Use <a href="api.html#pageindex"><code>pageIndex</code></a> and <a href="api.html#loadcount">loadCount</a> properties to calculate the URL.</p>

``` js
path: function() {
  var pageNumber = ( this.loadCount + 1 ) * 10;
  return '/articles/P' + pageNumber;
},
// => /articles/P10, /articles/P20, /articles/P30 ...
```

{{! ----------------------------------------------------------------- }}

<h3>append</h3>

<p>Appends selected elements from loaded page to the container.</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    append: '.post',
    // append .post elements from next page to container
    ```
  </div>
  <div class="duo__cell example__demo">
    {{> append}}
  </div>
</div>

Disable appending with <code>append: <span class="literal">false</span></code>, for loading JSON or adding your own append behavior like with <a href="extras.html#metafizzy-layout-libraries">Masonry or Isotope</a>.


``` js
append: false,
// do not append any content on page load
```

{{! ----------------------------------------------------------------- }}

<h3>checkLastPage</h3>

<p>Checks if page has <code>path</code> selector element. This prevents Episcroll from requesting a non-existant page. Requires <code>append</code> enabled and <a href="#path"><code>path</code></a> to be set to a selector. Enabled by default <code><span class="comment">checkLastPage: true</span></code></p>

{{! TODO checkLastPage enabled demo }}

``` js
// checkLastPage: true,
// enabled by default
```

{{! TODO checklastPage disabled }}


``` js
checkLastPage: false,
// disabled
```

{{! ----------------------------------------------------------------- }}

<h3>prefill</h3>

<p>Loads and appends pages on intialization until scroll requirement is met.</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    prefill: true,
    // load pages on init until user can scroll
    ```
  </div>
  <div class="duo__cell example__demo">
    {{> prefill}}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

<h3>responseType</h3>

<p>Sets the type of response returned by the page request. See <a href="https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest">MDN docs XMLHttpRequest.responseType</a>.</p>

``` js
// responseType: 'document',
// default, return next page's DOM
```

<p>Set <code>responseType: <span class="string">'text'</span></code> to return flat text for loading JSON.</p>

``` js
$container.episcroll({
  path: '/api/page\{{#}}.json',
  append: false,
  responseType: 'text',
});

$container.on( 'load.episcroll', function( event, response ) {
  // parse JSON
  var data = JSON.parse( response );
});
```

{{! ----------------------------------------------------------------- }}

<h2>Scrolling</h2>

{{! ----------------------------------------------------------------- }}

<h3>scrollThreshold</h3>

<p>Sets the distance between the viewport to scroll area for <code>atBottom</code> event to be triggered. Default: <code><span class="comment">scrollThreshold: 400</span></code>.</p>

``` js
scrollThresold: 200
// trigger atBottom event when viewport is >200px from bottom of scroll area
```

<p>Disable loading on scroll and the <code>atBottom</code> event with <code>scrollThreshold: false</code>. This is useful if loading via button.</p>

``` js
scrollThreshold: false,
// disable loading on scroll
// and atBottom event from triggering
```

{{! ----------------------------------------------------------------- }}

<h3>elementScroll</h3>

<p>Sets scroller to an element for overflow element scrolling. Disabled by default, <code>window</code> is used to scroll.</p>

<p>I recommend disabling <a href="#history"><code>history</code></a> with <code>elementScroll</code>.</p>

<p>Set <code>elementScroll: <span class="literal">true</span></code> to use the container element.</p>

``` html
<!-- .container is scrollable and has scroll content -->
<div class="container">
  <div class="post">...</div>
  <div class="post">...</div>
  ...
</div>
```

``` js
// content will be appended to .container
$('.container').episcroll({
  // options...
  elementScroll: true,
  // use .container overflow element scrolling
});
```

<p>Set <code>elementScroll</code> to a selector string to use a different parent element.</p>

``` html
<!-- .sidebar is scrollable -->
<div class="sidebar">
  <!-- .container has scroll content -->
  <div class="container">
    <div class="post">...</div>
    <div class="post">...</div>
    ...
  </div>
</div>
```

``` js
// content will be appended to .container
$('.container').episcroll({
  // options...
  elementScroll: '.sidebar',
  // use .sidebar overflow element scrolling
});
```

{{! ----------------------------------------------------------------- }}

<h3>loadOnScroll</h3>

<p>Loads next page when scroll is at bottom, passing <a href="#scrollthreshold"><code>scrollThreshold</code></a>. Enabled by default <code><span class="comment">loadOnScroll: true</span></code>.</p>

<p>Disable <code>loadOnScroll</code> if you do not want to load pages on scroll, but still want the <a href="events.html#atbottom"><code>atBottom</code> event</a> triggered.</p>

``` js
loadOnScroll: false,
// disable loading pages on scroll
// atBottom event still triggered
```

<p>Otherwise, you can disable both loading on scroll and <code>atBottom</code> event by disabling <code>scrollThreshold</code>.</p>

``` js
scrollThreshold: false,
// disable loading pages on scroll
// and atBottom event
```

{{! ----------------------------------------------------------------- }}

<h2>History options</h2>

{{! ----------------------------------------------------------------- }}

<h3>history</h3>

<p>Changes the browser history and URL.</p>

<p>When enabled with <a href=#append><code>append</code></a> enabled, history will be changed when the appended page is scrolled into view. Users may scroll up and down, and history will reflect the URL of the content in the view.</p> {{! demo }}

<p>When enabled with <code>append</code> disabled, history will be changed only when a page is loaded.</p> {{! demo }}

<p>Enabled by default <code><span class="comment">history: 'replace'</span></code> will use <a href="https://developer.mozilla.org/en-US/docs/Web/API/History_API#The_replaceState()_method"><code>history.replaceState()</code></a> to change the current history entry. Going Back in the browser will return the user to previous site.</p>

{{! basic full demo }}

<p>Set <code>history: <span class="string">'push'</span></code> to use <a href="https://developer.mozilla.org/en-US/docs/Web/API/History_API#The_pushState()_method"><code>history.pushState()</code></a> to create new history entries for each page change. Going Back in the browser will load the previous page.</p>


``` js
history: 'push',
// create new history entry for each page
```

{{! history push demo }}


{{! ----------------------------------------------------------------- }}

<h3>historyTitle</h3>

<p>Updates the window title. Requires <code>history</code> enabled. Enabled by default <code><span class="comment">historyTitle: true</span></code>.</p>

``` js
historyTitle: false,
// do not change window title when history changes
```

{{! ----------------------------------------------------------------- }}

<h2>UI</h2>

{{! ----------------------------------------------------------------- }}

<h3>hideNav</h3>

<p>Hides navigation element.</p>

``` html
<!-- page nav is confusing if infinite scroll -->
<div class="pagination">
  <a href="/page/2">Page 2</a>
</div>
```

``` js
hideNav: '.pagination',
```

{{! ----------------------------------------------------------------- }}

<h3>status</h3>

<p>Displays status elements indicating state of page loading. Within the selected element:</p>

<ul>
  <li><code>.episcroll-request</code> element will be displayed on
    <a href="events.html#request"><code>request</code></a></li>
  <li><code>.episcroll-last</code> element will be displayed on
    <a href="events.html#last"><code>last</code></a></li>
  <li><code>.episcroll-error</code> element will be displayed on
    <a href="events.html#error"><code>error</code></a></li>
</ul>

<p>The selected element will be hidden on <a href="events.html#load"><code>load</code></a>.</p>

``` html
<div class="page-load-status">
  <p class="episcroll-request">Loading...</p>
  <p class="episcroll-last">End of content</p>
  <p class="episcroll-error">No more pages to load</p>
</div>
```

{{! basic element demo }}

``` js
status: '.page-load-status',
```

{{! ----------------------------------------------------------------- }}

<h3>button</h3>

{{! ----------------------------------------------------------------- }}

<h3>log</h3>
