<div class="scroller" data-js="element-scroll-container">
    <div class="scroller-item scroller-item--height2">1a</div>
    <div class="scroller-item scroller-item--gold">1b</div>
    <div class="scroller-item scroller-item--height3 scroller-item--green">1c</div>
    <div class="scroller-item scroller-item--height2 scroller-item--magenta">1d</div>
</div>

{{> edit-demo default="KqqrJb" vanillaJS="GEmjRX"}}