<div class="scroller" data-js="element-scroll-container">
    <div class="post post--height2">1a</div>
    <div class="post post--gold">1b</div>
    <div class="post post--height3 post--green">1c</div>
    <div class="post post--height2 post--magenta">1d</div>
</div>
