<div class="scroller masonry-small" data-js="masonry-small">
  <div class="scroller__content">
    <div class="image-grid__col-sizer"></div>
    <div class="image-grid__gutter-sizer"></div>
    <div class="image-grid__item"><img class="image-grid__image" src="https://i.imgur.com/laIuV0D.jpg" /></div>
    <div class="image-grid__item"><img class="image-grid__image" src="https://i.imgur.com/777dcVU.jpg" /></div>
    <div class="image-grid__item"><img class="image-grid__image" src="https://i.imgur.com/ZPPFND3.jpg" /></div>
    <div class="image-grid__item"><img class="image-grid__image" src="https://i.imgur.com/EpYbuG7.jpg" /></div>
    <div class="image-grid__item"><img class="image-grid__image" src="https://i.imgur.com/kXUHDn5.jpg" /></div>
    <div class="image-grid__item"><img class="image-grid__image" src="https://i.imgur.com/Qmz61wo.jpg" /></div>
    <div class="image-grid__item"><img class="image-grid__image" src="https://i.imgur.com/aPia86B.jpg" /></div>
    <div class="image-grid__item"><img class="image-grid__image" src="https://i.imgur.com/iQRKg2a.jpg" /></div>
    <div class="image-grid__item"><img class="image-grid__image" src="https://i.imgur.com/MV9SvaP.jpg" /></div>
    <div class="image-grid__item"><img class="image-grid__image" src="https://i.imgur.com/qjQ9XWl.jpg" /></div>
    <div class="image-grid__item"><img class="image-grid__image" src="https://i.imgur.com/ZJ088Tk.jpg" /></div>
    <div class="image-grid__item"><img class="image-grid__image" src="https://i.imgur.com/XREWwIc.jpg" /></div>
    <div class="image-grid__item"><img class="image-grid__image" src="https://i.imgur.com/SuZLV2U.jpg" /></div>
    <div class="image-grid__item"><img class="image-grid__image" src="https://i.imgur.com/71H2B0k.jpg" /></div>
    <div class="image-grid__item"><img class="image-grid__image" src="https://i.imgur.com/vxOA4hg.jpg" /></div>
    <div class="image-grid__item"><img class="image-grid__image" src="https://i.imgur.com/8kLXqdP.jpg" /></div>
  </div>
  {{> scroller-status}}
</div>

{{> edit-demo default="NWRYWgd" vanillaJS="XgRpNr"}}
