/* infinite-scroll-logo
------------------------- */

.infinite-scroll-logo__page {
  stroke: #333;
  stroke-width: 20;
  stroke-miterlimit: 10;
}

.infinite-scroll-logo__page--back { fill: white; }
.infinite-scroll-logo__page--front1 { fill:#C25; }
.infinite-scroll-logo__page--front2 { fill:#E62; }
.infinite-scroll-logo__page--front3 { fill:#EA0; }
