<div data-js="load-count">
  <p class="demo-status">0 pages loaded</p>
  <div class="scroller">
    {{> scroller-content}}
    {{> scroller-status}}
  </div>
</div>

{{> edit-demo default="GRjxGZG" vanillaJS="ZEpxRWG" }}
