/* site-footer
------------------------- */

.site-footer {
  margin-top: 0;
  background: #EEE;
  position: relative;
  z-index: 1; /* above page-nav */
}

/* ---- twitter-logo ---- */

.site-footer .twitter-logo { fill: #19F; }
.site-footer a:hover .twitter-logo { fill: #C25; }

/* ---- mfzy-logo ---- */

.site-footer .mfzy-logo__body-fill { fill: #19F; }
.site-footer .mfzy-logo__stripes { display: none; }

.site-footer a:hover .mfzy-logo__stripes { display: inline; }

/* ---- mfzy-wordmark ---- */

.mfzy-wordmark { stroke: #19F; }
.mfzy-brand__link:hover .mfzy-wordmark { stroke: #333; }

@media screen and ( min-width: 960px ) {

  /* sidebar brand */

  .site-footer .mfzy-brand {
    position: absolute;
    left: 20px;
    top: 60px;
    width: 160px;
  }

  .site-footer .mfzy-logo {
    display: block;
    width: 108px;
    height: 108px;
    margin: 0 auto 5px;
  }

  .site-footer .mfzy-wordmark {
    display: block;
    margin: 0 auto;
  }

}
