<div class="hero">
  <div class="container">
    {{> episcroll-logo}}
    <div class="hero__text">
      <h1 class="hero__title">Episcroll</h1>
      <p class="hero__tagline">Infinite scroll, back-button friendly</p>
    </div>
  </div>
</div>
