/* hero
------------------------- */

.hero {
  padding: 20px 0;
  background: #19F;
  color: white;
  min-height: 320px;
}

.hero__masthead {
  position: relative;
}

.hero .container::after {
  content: '';
  display: block;
  clear: both;
}

.hero .infinite-scroll-illo {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 80px;
}

.hero .infinite-scroll-illo__page {
  stroke: #036;
}

.hero__text {
  padding-left: 100px;
}

.hero__title {
  font-size: 2rem;
  margin: 0;
  line-height: 1;
  padding-top: 10px;
}

.hero__new-badge {
  display: inline-block;
  padding: 5px 10px;
  vertical-align: top;
  border-radius: 1em;
  background: #C25;
  color: white;
  text-align: center;
  font-weight: bold;
  font-style: normal;
  font-size: 1rem;
}

.hero__tagline {
  font-size: 1.2rem;
  line-height: 1.2;
  margin: 0;
  color: white;
}

.hero .chunky-button--fill {
  background-color: #06C;
  color: white;
}

.hero .chunky-button--fill .chunky-button__icon svg {
  fill: white;
}

.hero .chunky-button--fill:hover {
  background-color: #EA0;
}

.hero .chunky-button--outline {
  border-color: #05B;
  color: white;
}

.hero .chunky-button--outline .chunky-button__icon svg {
  fill: white;
}

.hero .chunky-button--outline:hover {
  background: #EA0;
}

@media screen and (min-width: 768px) {
  .hero .infinite-scroll-illo {
    width: 260px;
    height: 260px;
  }

  .hero__text {
    padding-left: 300px;
  }

  .hero__new-badge {
    position: relative;
    top: -10px;
    width: 70px;
    height: 70px;
    background: #C25;
    color: white;
    border-radius: 35px;
    margin: 0;
  }

  .hero__new-badge__new {
    display: block;
    font-size: 0.85rem;
    margin-top: 4px;
    text-transform: uppercase;
    transform: skewY(-15deg);
  }

  .hero__new-badge__version {
    display: block;
    font-size: 2.4rem;
    line-height: 0.8;
    font-weight: bold;
    transform: skewY(-15deg);
  }

  .hero__title {
    font-size: 4.2rem;
    padding-top: 25px;
  }

  .hero__tagline {
    font-size: 2rem;
  }

  .hero__button-row {
    margin-top: 60px;
  }
}
