<div class="hero">
  <div class="container">
    {{> infinite-scroll-logo}}
    <div class="hero__text">
      <h1 class="hero__title">Infinite Scroll</h1>
      <p class="hero__tagline">Automatically add next page</p>
    </div>
  </div>
</div>
