
{{#if isDev}}
  {{#each js_paths}}
    <script src="../{{@file.rootPath}}{{this}}"></script>
  {{/each}}
{{else}}
  <script src="{{@file.rootPath}}js/infinite-scroll-docs.min.js?2"></script>
{{/if}}

{{#unless isExport}}
  <script>
    window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
    ga('create','UA-58739927-7','auto');ga('send','pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>
{{/unless}}

</body>
</html>
