/* page-nav
------------------------- */

.page-nav {
  font-size: 0.85rem;
  line-height: 1.2;
}

.page-nav__list {
  list-style: none;
  margin: 0 0 40px;
  padding: 0 10px 0 0;
}

.page-nav__item {
  margin: 0.2rem 0;
  overflow-wrap: break-word;
}

.page-nav__item--h3,
.page-nav__item--h4 {
  padding-left: 15px;
}

@media screen and (min-width: 960px) {
  .page-nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
  }

  .page-nav__list {
    display: block;
    margin: 0;
    padding: 20px;
  }

  /* activate sticky */
  .page-nav::after {
    content: 'sticky';
    display: none;
  }

  .page-nav.is-sticky .page-nav__list {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    top: 0;
  }

  .page-nav__item a {
    display: block;
    padding: 2px 0;
    text-decoration: none;
  }
}
