/* scroller
------------------------- */

.scroller {
  height: 400px;
  padding: 10px 10px 100px;
  overflow-y: scroll;
  border: 1px solid #DDD;
  border-radius: 5px;
}

.scroller__content {
}

/* ---- prefill ---- */

.scroller--prefill { height: 500px; }
