<div class="scroller__status">
  <div class="loader-ellips episcroll-request">
    <span class="loader-ellips__dot"></span>
    <span class="loader-ellips__dot"></span>
    <span class="loader-ellips__dot"></span>
    <span class="loader-ellips__dot"></span>
  </div>
  <p class="scroller__status__message episcroll-last">End of content</p>
  <p class="scroller__status__message episcroll-error">No more pages to load</p>
</div>
