<div class="site-scroll" data-js="site-scroll">
  <div class="container">
    <div class="site-scroll__button-well">
      <button class="site-scroll__button">Infinite scroll rest of site</button>
    </div>
  </div>
</div>
