{{> html-head}}

<body class="page--{{@file.basename}}" data-basename="{{@file.basename}}">

{{> site-nav}}

<div class="main">
  <div class="container">

    {{#if page.title}}
      <h1 class="page-title">{{page.title}}</h1>
    {{/if}}

{{! no leading whitespace }}
{{#block "main"}}{{/block}}

  </div> {{! container }}
</div> {{! main }}

{{> html-foot}}
