{{> html-head}}

<body class="page--{{@file.basename}}" data-basename="{{@file.basename}}">

{{> site-nav}}

{{#if page.isHomepage}}
  {{> hero}}
{{/if}}

<div class="main">
  <div class="container">

    {{#if page.isHomepage}}
      {{! big-links}}
    {{/if}}

    <div class="main__page">
      {{#if page.title}}
        <h1 class="page-title">{{page.title}}</h1>
      {{/if}}

      <ul class="page-nav" data-js="page-nav"></ul>

{{! no leading whitespace }}
{{#block "main"}}{{/block}}
    </div> {{! main__page }}

  </div> {{! container }}
</div> {{! main }}

{{#unless page.isLast}}
  {{> site-scroll}}
{{/unless}}

{{> site-nav}}

{{> site-footer infinite-scroll=true}}

{{> html-foot}}
