<div  data-js="prefill">
  <p><button class="button button--enable-prefill">Prefill container</button></p>

  <div class="scroller scroller--prefill">
    <div class="scroller__content">
      <div class="post">1a</div>
    </div>
    {{> scroller-status}}
  </div>
</div>
