/* post
------------------------- */

.post {
  min-height: 200px;
  margin-bottom: 10px;
  padding: 20px;
  background: #19F;
  border-radius: 5px;
  color: white;
  font-size: 3.0rem;
  line-height: 1;
}

.post--height2 { height: 250px; }
.post--height3 { height: 300px; }

.post--magenta { background: #C25; }
.post--red { background: #E21; }
.post--gold { background: #EA0; }
.post--green { background: #6C6; }
