<div data-js="page-index">
  <p class="demo-status">Loaded page: 1</p>
  <div class="scroller">
    {{> scroller-content}}
    {{> scroller-status}}
  </div>
</div>

{{> edit-demo default="rwwoGe" vanillaJS="RggEQJ" }}
